@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site has the most simple privacy policy. Please be careful with the informations your give.</p>

<p>The data posted on this site is based on the templates made by @@KHJMars (twitter and instagram).</p>
