@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a site to create your wishlist ATEEZ. If you think our database is incomplete, send a message to our contact info.</p>
</div>

<br>
<div class="text-center">
    <p>You can see how this site works <a asp-controller="home" asp-action="Explication">here</a>.</p>
    <p>You can create your wishlist <a asp-controller="member" asp-action="Create">here</a>.</p>
    <p>You can update your wishlist<a asp-controller="home" asp-action="Update">here</a>.</p>
</div>
